/* Estilos generales para la aplicación */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Estilos para el contenedor principal */
.library-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Estilos para el título principal */
.library-container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #5a5a5a;
}

/* Estilos para las tarjetas de libros */
.book-card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-card:hover {
  transform: translateY(-10px);
}

.book-card-img {
  width: 100%;
  height: 300px; /* Puedes ajustar esta altura según sea necesario */
  object-fit: cover;
  border-radius: 10px;
}

/* Estilos responsivos para asegurar que las tarjetas se ajusten en diferentes tamaños de pantalla */
@media (max-width: 767px) {
  .book-card-img {
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .book-card-img {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .book-card-img {
    height: 300px;
  }
}
